<div class="faq main-width">
  <div class="faq__info">
    <h2>Sıkça sorulan sorular</h2>
    <div class="faq__description">
      Cevaplanmayan sorularınız için destek ekibimizle e-posta yoluyla iletişime
      geçin. Size yardımcı olmak için mümkün olan en kısa sürede yanıt
      vereceğiz.
    </div>
  </div>
  <div class="faq__list">
    <div class="faq__item">
      <details>
        <summary>Ödeme yöntemleriniz nelerdir?</summary>
        <p>
          Sipariş verdikten sonra veya sipariş verirken yeni bir hesap
          oluşturduysanız, müşteri hesabınızda her iki adresi (faturalandırma ve
          gönderim için) de düzenleyebilirsiniz.
        </p>
      </details>
    </div>
    <div class="faq__item">
      <a
        href="https://refpa58144.com/L?tag=d_4673561m_1599c_&site=4673561&ad=1599"
      >
        <details>
          <summary>Bülteninize nereden abone olabilirim?</summary>
          <p></p>
        </details>
      </a>
    </div>
    <div class="faq__item">
      <a
        href="https://refpa58144.com/L?tag=d_4673561m_1599c_&site=4673561&ad=1599"
      >
        <details>
          <summary>
            Örnek olarak ücretsiz bir dergi kopyası sipariş edebilir miyim?
          </summary>
          <p></p>
        </details>
      </a>
    </div>
     <div class="faq__item">
      <a
        href="https://refpa58144.com/L?tag=d_4673561m_1599c_&site=4673561&ad=1599"
      >
        <details>
          <summary>
            Siparişleri telefon veya e-posta ile kabul ediyor musunuz?
          </summary>
          <p></p>
        </details>
      </a>
    </div>
     <div class="faq__item">
      <a
        href="https://refpa58144.com/L?tag=d_4673561m_1599c_&site=4673561&ad=1599"
      >
        <details>
          <summary>
            Web sitenizin neresinden müşteri hesabı açabilirim?
          </summary>
          <p></p>
        </details>
      </a>
    </div>
     <div class="faq__item">
      <a
        href="https://refpa58144.com/L?tag=d_4673561m_1599c_&site=4673561&ad=1599"
      >
        <details>
          <summary>
            Sipariş vermek için hesap oluşturmalı mıyım?
          </summary>
          <p></p>
        </details>
      </a>
    </div>
  </div>
</div>

   <div class="main-width" style="display: flex; justify-content: center; width: 364px;">
            <include src="button.html"></include>
        </div>