.flip-popup {
    display: none;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 97;
    width: 100%;
    max-width: 516px;
    background: var(--vs, radial-gradient(71.71% 50% at 50% 50%, rgba(20, 160, 255, 0.20) 0%, rgba(20, 160, 255, 0.04) 100%));
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;

    &.finished {
        background: radial-gradient(71.71% 50% at 50% 50%, rgba(20, 160, 255, 0.20) 0%, rgba(20, 160, 255, 0.04) 100%), url(images/finished-bg.webp) center no-repeat;
    }

    &.active {
        display: flex;
        opacity: 1;
        visibility: visible;
    }

    &__image {
        width: 100%;
        height: 256px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        img {
            height: 170px;
        }

        .flipping {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute; 
            top: 0; 
            left: 0; 
            width: 100%; 
            height: 100%; 
            z-index: 1; 
            opacity: 0; 
            visibility: hidden; 
        }
    }

    &__content {
       display: flex;
        padding: 20px 40px 40px 40px;
        flex-direction: column;
        align-items: center;
        gap: 36px; 
        align-self: stretch;
        text-align: center;
     }

     &__text {
        color: var(--semantic-neutral-0, #FFF);
        font-size: 20px;
        font-weight: 500;
        opacity: 0.33;
     }

     .btn--main.disabled  {
        cursor: default;
        pointer-events: none;

        .btn {
            background: var(--semantic-brand-900, #033A67);
        }

        &:before {
    border-bottom: 56px solid var(--semantic-brand-900);
    @media (max-width: 767px) { 
        border-bottom: 42px solid var(--semantic-brand-900);
    }
  }
    &:after {
    border-top: 56px solid var(--semantic-brand-900);
    @media (max-width: 767px) { 
        border-top: 42px solid var(--semantic-brand-900);
    }
  }
     }
}

.flip-overlay {
    display: none;
     position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 19, 37, 0.90);
    backdrop-filter: blur(20px);
    z-index: 96;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;

    &.active {
        display: flex;
        opacity: 1;
        visibility: visible;
    }
}
