.players {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 60px;
    padding-top: 80px;
    padding-bottom: 80px;
    overflow: hidden; 

      @media (max-width: 767px) { 
         padding-top: 40px;
        padding-bottom: 40px;
        gap: 20px;
      }
}

.digits-block {
    display: flex;
    align-items: center;
    justify-content: space-between;

     @media (max-width: 767px) { 
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 16px;
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-self: flex-start;
        
    }

    &__count {
        color: var(--text-sub-headline-brand);
    }

    .digits-list {
        display: flex;
        align-items: stretch;
        gap: 8px;
        list-style: none; 
        margin: 0;
        padding: 0;

         @media (max-width: 767px) { 
            width: 100%;
         }

        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            text-align: center;
            padding: 32px;
            height: 130px;
            background: var(--vs, radial-gradient(71.71% 50% at 50% 50%, rgba(20, 160, 255, 0.20) 0%, rgba(20, 160, 255, 0.04) 100%));

             @media (max-width: 767px) {
                height: 96px;
                padding: 12px;
                 width: calc(33.333% - 4px);
                 justify-content: center;
             }

            &:first-child {
                border-radius: 32px 0 0 32px;
            }
            &:last-child {
                border-radius: 0 32px 32px 0;
            }
        }

        &__value {
            font-weight: 500;
            font-size: 2.1vw;
            white-space: nowrap;
            line-height: 127%;
            color: #FFF;

             @media (max-width: 767px) { 
                font-size: 18px;
             }
        }

        &__name {
            font-size: 16px;
            line-height: 150%;
           color: #FFF;
           opacity: 0.33;

             @media (max-width: 767px) { 
                font-size: 14px;
             }
        }
    }
}
.swiper {

.players-list {
       display: flex;
       align-items: stretch;
       justify-content: space-between;

       &__item {
        display: flex;
        align-items: flex-end;
        padding: 8px;
        width: 280px !important;
        max-width: 280px;
        height: 348px;
        background-size: cover;
       }

       &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 8px;
        width: 100%;
        height: 86px;
        background: rgba(0, 19, 37, 0.32);
        backdrop-filter: blur(20px);
        gap: 8px
       }

       &__info {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
       }

       &__name {
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        color: var(--base-white, #FFF);
       }

       &__count {
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        color: var(--success-500);
       }

       &__score {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        font-size: 20px;
        font-style: italic;
        font-weight: 600;
        color:#fff;
       }
      &__team-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        aspect-ratio: 1/1;
      }

       
    }
}