.timeline {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   padding-top: 80px;
   gap: 40px;

    @media (max-width: 767px) { 
        gap: 20px;
        justify-content: center;

        h2 {
            text-align: center;
        }
    }

   &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 76px;
        grid-row-gap: 0px;
        width: 100%;
        position: relative;
        padding-bottom: 38px;

        @media (max-width: 767px) { 
            display: flex;
            flex-direction: column;
            gap: 50px;
        }

        &::before {
            content:'';
            position: absolute;
            left: 50%;
            top: 0;
            bottom: 0;
            transform: translateX(-50%);
            width: 4px;
            background: #fff;
            opacity: 0.11;

            @media (max-width: 767px) { 
                z-index: 0;
                width: 2px;
            }
        }
   }

   &__item {
    display: flex;
    flex-direction: column;
    height: 180px;
    justify-content: center;
    gap: 12px;
    padding: 30px 40px;
    position: relative;
    background: #001325;

    @media (max-width: 767px) { 
        gap: 6px;
        padding: 25px 20px;
        height: auto;
    }
    
    &::before {
        content:'';
        position: absolute;
        top:0;
        left:0;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        border-radius: 100%;

          @media (max-width: 767px) { 
            top: auto;
            bottom: 0;
           transform: translate(-50%, 50%);
            right: auto !important;
            left: 50% !important;
          }
    }
    
    
    &--galat {
        align-items: flex-start;

        .timeline__year {
            color: #FFEC00;
        }

        &::after {
            background: #FFEC00;
        }
    }

    &--fener {
        align-items: flex-end;
        text-align: right;

        .timeline__year {
            color: #DF003E;
        }

         &::after {
            background: #DF003E;;
         }
    }


    &--1 {
        grid-area: 1 / 1 / 2 / 2; 

        &::before {
            background-image: url(images/timeline1.webp);
            background-position: right center;
        
        }

        &::after {
            right: -46px;
        }
    }

    &--2 {
        grid-area: 2 / 2 / 3 / 3;

        &::before {
            background-image: url(images/timeline2.webp);
            background-position: left center;
        
        }

        &::after {
            left: -46px;
        }
    }

    &--3 {
        grid-area: 3 / 1 / 4 / 2;

        &::before {
            background-image: url(images/timeline3.webp);
            background-position: right center;
        
        }

        &::after {
            right: -46px;
        }
    }

    &--4 {
        grid-area: 4 / 2 / 5 / 3;

        &::before {
            background-image: url(images/timeline4.webp);
            background-position: left center;
        
        }

        &::after {
            left: -46px;
        }
    }
   }

   &__year {
    font-size: 36px;
    font-style: italic;
    font-weight: 700;
    position: relative;

     @media (max-width: 767px) { 
        font-size: 24px;
     }
   }

   &__title {
    color: var(--semantic-neutral-0, #FFF);
    font-size: 24px;
    font-weight: 500;
    position: relative;

     @media (max-width: 767px) { 
        font-size: 18px;
     }
   }

   &__text {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
   position: relative;

    @media (max-width: 767px) { 
        font-size: 12px;
     }

   }
}
