footer {
    display: flex;
    align-items: center;
    justify-content: stretch;

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-top: 12px;
        padding-bottom: 96px;
        gap: 12px;
        width: 100%;
        font-size: 12px;
        line-height: 150%;
        color: var(--base-white-60, rgba(255, 255, 255, 0.60));

        @media (max-width: 767px) { 
            flex-direction: column;
            padding-bottom: 16px;
            gap: 8px;
        }

        &__text {
            padding: 24px;
            background: var(--vs, radial-gradient(71.71% 50% at 50% 50%, rgba(20, 160, 255, 0.20) 0%, rgba(20, 160, 255, 0.04) 100%));
            @media (max-width: 767px) { 
                padding: 16px;
                font-size: 12px;
            }
        }

        &__content {
            display: flex;
            align-items: stretch;
            gap: 12px;
            width: 100%;

            @media (max-width: 767px) { 
                flex-direction: column;
                gap: 8px;
            }

        }

        &__copyright {
            padding: 24px;
            background: var(--vs, radial-gradient(71.71% 50% at 50% 50%, rgba(20, 160, 255, 0.20) 0%, rgba(20, 160, 255, 0.04) 100%));
            flex: 1;

            @media (max-width: 767px) { 
                padding: 16px;
                font-size: 12px;
                order: 2;
               
            }
        }

        &__links{
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-width: 160px;
            gap: 12px;
            padding: 24px;
            background: var(--vs, radial-gradient(71.71% 50% at 50% 50%, rgba(20, 160, 255, 0.20) 0%, rgba(20, 160, 255, 0.04) 100%));

            @media (max-width: 767px) { 
                padding: 16px;
                font-size: 12px;
                order: 1;
                background: transparent;
                padding: 0;
                gap: 8px;

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 24px;
                    padding: 24px;
    background: var(--vs, radial-gradient(71.71% 50% at 50% 50%, rgba(20, 160, 255, 0.20) 0%, rgba(20, 160, 255, 0.04) 100%));
                    flex: 1;
                }
            }
            
        }

        
    }
}