@import 'colors';
@import 'variables';
@import 'buttons';


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  position: relative;
  -webkit-text-size-adjust: none;
  margin: 0;
  overflow-x: hidden;
  padding-top: 60px; /* Adjusted for header height */
  background: #001325;
}

main {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.1s ease 0s;
}

input, textarea, select, button {
  font-family: inherit;
  outline: none;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button, textarea::-webkit-outer-spin-button, textarea::-webkit-inner-spin-button, select::-webkit-outer-spin-button, select::-webkit-inner-spin-button, button::-webkit-outer-spin-button, button::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::-webkit-search-decoration, input::-webkit-search-cancel-button, input::-webkit-search-results-button, input::-webkit-search-results-decoration, textarea::-webkit-search-decoration, textarea::-webkit-search-cancel-button, textarea::-webkit-search-results-button, textarea::-webkit-search-results-decoration, select::-webkit-search-decoration, select::-webkit-search-cancel-button, select::-webkit-search-results-button, select::-webkit-search-results-decoration, button::-webkit-search-decoration, button::-webkit-search-cancel-button, button::-webkit-search-results-button, button::-webkit-search-results-decoration {
  display: none;
}
input:focus::placeholder, textarea:focus::placeholder, select:focus::placeholder, button:focus::placeholder {
  visibility: hidden;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

.main-width {
  width: 100%;
  max-width: 1352px;
  padding: 0 16px;
  margin: 0 auto;
} 

h2 {
  font-weight: 700;
  font-size: 3.4vw;
  font-style: italic;
  line-height: 125%;
  letter-spacing: -2px;
  color: #FFF;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: 1440px) { 
    font-size: 48px;
  }

  @media (max-width: 767px) { 
    font-size: 28px;
    line-height: 127%;
  }

  span {
    color: #14A0FF;
  }
}

  .btn--main {
     display: flex;
        align-items: center;
        height: 56px;
        width: 100%;

        @media (max-width: 767px) { 
          height: 42px;
        }

  .btn {
                border-radius: 0;
                height: 56px;
                gap: 20px;
                padding: 0 12px;
                font-size: 20px;
                background: var(--semantic-brand-500, #14A0FF);
                color: var(--semantic-brand-50);
                width: 100%;

                @media (max-width: 767px) { 
                  height: 42px;
                  font-size: 14px;
              }
            }
 
&:before {
            content: '';
          	display: inline-block;
            border-bottom: 56px solid var(--semantic-brand-500);
            border-left: 22px solid transparent;
                margin-right: -1px;
                transition: all .3s ease;

                @media (max-width: 767px) { 
                  border-bottom: 42px solid var(--semantic-brand-500);
              }

          }
&:after {
            content: '';
          	display: inline-block;
            border-top: 56px solid var(--semantic-brand-500);
            border-right: 22px solid transparent;
                margin-left: -1px;
                transition: all .3s ease;

           @media (max-width: 767px) { 
                  border-top: 42px solid var(--semantic-brand-500);
              }

          }
  .btn .ratio {
            display: flex;
            align-items: center;
            gap: 8px;
            color: rgba(255, 255, 255, 0.60);
            font-size: 20px;
            font-style: italic;
            font-weight: 500;
            line-height: 24px;

             @media (max-width: 767px) { 
              font-size: 14px;
             }

            img {
                height: 32px;
            }
        }
      }
.btn--main:hover {
  .btn {
     background: var(--semantic-brand-600);
  }

  &:before {
    border-bottom: 56px solid var(--semantic-brand-600);
     @media (max-width: 767px) { 
                  border-bottom: 42px solid var(--semantic-brand-600);
              }
  }
    &:after {
    border-top: 56px solid var(--semantic-brand-600);
     @media (max-width: 767px) { 
                  border-top: 42px solid var(--semantic-brand-600);
              }
  }
}

@import 'header';

@import 'brand';

@import 'main-block';

@import 'compare';

@import 'timeline';

@import 'middle-banner';

@import 'predictions';

@import 'players';

@import 'infographics';

@import 'faq';

@import 'subscribe-form';

@import 'articles';

@import 'partners';

@import 'footer';

@import 'leave-popup';

@import 'flip-popup'; 